/*fuentes*/
@font-face {
    font-family: "Avenir";
    src: url('../GreatVibes-Regular.ttf');
}

/*reseteo de todos los elementos*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    position:relative;
    left:5vw;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
a:hover {
    padding-bottom: 0.25rem;
    border-bottom: 0.1rem solid white;
}

/*Estilos Generales cambio el valor del atributo font-size = 1rem para que sea proporcional al viewport*/
html {
    font-size: 1rem;

}

@media (max-width :440px) {
    html {
        font-size: 0.8rem;
    }
}

body {
    font-family: "Avenir-Book, GreatVibes_Regular, sans-serif";
    color: white;
    background-color:rgba(197, 197, 186, 0.226)
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0.8rem;
    color: #005D82
}
h2 {
    height: 1.5rem;
    color: darkslateblue;
}
/* segunda clase del curso*/
/*Hero */

.hero {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/*animación*/
@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    12% {
        opacity: 1;
    }

    25% {
        transform: scale(1.1);
    }

    75% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}
@keyframes rotar {
    from { transform: rotate(0);
    }
    to{transform: rotate(360);
    }
}
.rotacion {
    animation-name: rotar;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
/*logo dentro de alquiler y venta*/


.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: heroAnimation 18s infinite;
}

.hero div:nth-child(1) {
    background-image: url('../img/wallpaperflare.com_wallpaper\ \(12\).jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/wallpaperflare.com_wallpaper\ \(10\).jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/wallpaperflare.com_wallpaper\ \(11\).jpg');
    animation-delay: 12s;
}
.hero .hero-logo  {
    position: absolute;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    animation: rotacion;
    opacity: 1;
    width: 10%;
    height: auto;
}
.hero .hero-logo .rotate:hover {
    animation-name: rotacion 0.1s 1 infinite;
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;

}


@media (max-width: 1000px) {
    .hero .hero-logo {
        width: 20%;
        font-size: 1rem;
    }

    .hero .hero-down {
        width: 20%;
    }
}
@media (max-width: 850px) {
    .hero .hero-logo {
        width: 15%;
    }

    .hero .hero-down {
        width: 15%;
    }
}
@media (max-width: 400px) {
    .hero .hero-logo {
        width: 10%;
    
    }

    .hero .hero-down {
        width: 10%;
    }
}

/* HEADER barra de navegacion, cambio el encabezado para darle mas importancia al slogan*/

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 180px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    transition: 600ms ease-in-out all;
}

header.transparente {
    background-color: #a97d504f;
    box-shadow: none;
}

header img {
    height: 15vh;
    width: auto;
    position: relative;
    top: 25%;
    left: 1.5%;
}
header p {
    font-size: 1.75rem;
    color: black;
    position: fixed;
    top: 9.5vh;
    left: 19.5vh;
}
header nav {
    height: 3.5vh;
    color: black;
    position: fixed;
    top: 5px;
    left: 5px;
        }
header nav a {
    color: #67666e;
    font-weight: normal;
    margin-left: 1rem;
    }
header nav a.Inicio {
    margin-top: 5vw;
    left: 5vw;

}
header.transparente nav a {
    color: black;
    transition: transform 0.3s
}

header nav a.activo,
header nav a:hover {
    color: #a97c50;
    font-weight: bold;
    transition: 300ms ease-in-out all;
    transform: translateX(30.3rem);
}

header.transparente nav a.activo,
header.transparente nav a:hover {
    color: #a97c50;
    transition: 300ms ease-in-out all;
    transform: translateX(0.3rem);
}

/* Botón burger */

.burger {
    position: fixed;
    top: 1vh;
    left: 90vw;
    cursor: pointer;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    row-gap: 1px;
}
.line {
    width: 30px;
    height: 3px;
    background-color: white; /* Color de las líneas */
    margin: 1px 0;
  }
  .line .top {
    position: absolute;
    left: 3vw;
    top: 3vw;
  }
  .line .medium {
    position: absolute;
    left: 3vw;
    top: 9vw;
  }
  .line .bottom {
    position: absolute;
    left: 3vw;
    top: 12vw;
  }
 #burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #e9e2dc;
    transition: 400ms all ease-in-out
}

#burger.abierto .barra {
    background-color: white;
}

#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}

#burger.abierto .barra.media {
    width: 0;
}

#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

/*ocultar el menu hamburguesa cuando esta chico*/
@media(max-width: 620px) {
    #burger {
        display: block;
    }

    header {
        justify-content: flex-start;
    }

    header nav {
        display: none;
    }
}

/* Menú lateral */

.menu {
    width: 360px;
    height: 100vh;
    background-color: #2d3e4e9a;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 700ms ease-in-out;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem 0;
    color: rgba(34, 2, 17, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
}

.menu nav a:hover {
    color: white;
}

.menu .copyright {
    color: rgba(34, 2, 17, 0.75);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

/* layout*/
.primera {
    margin-top: 100vh;
}
.segunda {
    margin-top: 0vh;
}
.tercera {
    margin-top: 0vh;
    height: 35vh;
    width: auto;
}
#pr,
#legal,
#cookies {
    display: block;
    margin-top: -90px;
    padding-bottom: 90px;
}

.fila {
    display: flex;
    padding: 1rem 1rem;

}

.fila.contacto {
    margin-top: 80px;
}

.col-100 {
    width: 100%;
    padding: 0.5rem 1rem;

}

.col-75 {
    width: 75%;
    padding: 0.5rem 1rem;

}

.col-66 {
    width: 66.66666%;
    padding: 0.5rem 1rem;

}

.col-50 {
    width: 50%;
    padding: 0.5rem 1rem;

}

.col-33 {

    width: 33.33333%;
    padding: 0.5rem 1rem;

}



.col-25 {
    width: 25%;
    padding: 0.5rem 1rem;

}

@media (max-width: 720px) {
    .fila {
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .col-75,
    .col-66,
    .col-50,
    .col-33 .col-25 {
        width: 100%;

    }
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

}

/*Espaciados y margenes */

.m-t {
    margin-top: 1rem;
}

.m-b {
    margin-bottom: 1rem;
}

.m-l {
    margin-left: 1rem;
}

.m-r {
    margin-right: 1rem;
}

/******************/
.m-t-small {
    margin-top: 1rem;
}

.m-b-small {
    margin-bottom: 1rem;
}

.m-l-small {
    margin-left: 1rem;
}

.m-r-small {
    margin-right: 1rem;
}


/*Parallax*/
.fila.parallax {
    background-image: url('../img/obelisco\ dorne.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 2rem;

}

.fila.parallax div {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 2rem;
}

.fila.parallax div p {
    font-size: 1.5rem;
    color: #a97c50;
    text-align: center;
}

/*Caja de navegacion*/

.caja-nav img {
    width: 73%;
    margin-bottom: 1em;
}

.caja-nav a {
    border: 1px solid #a97c50;
    background-color: white;
    color: #a97c50;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;

}

.caja-nav a:hover {
    background-color: #a97c50;
    color: white;
}

/*Formulario contacto*/

form.contacto {
    width: 50%;
}

@media (max-width:720px) {
    form.contacto {
        width: 75%;
    }
}

@media (max-width:440px) {
    form.contacto {
        width: 100%;
    }
}

form.contacto {
    width: 50%;
}

form.contacto .fila {
    padding: 0.8rem;
}

input {
    border: none;
    border-bottom: 1.5px solid #a97c50;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 100%;

}

input:focus {
    outline: none;
    border-bottom: 1.5px solid #643506;

}

input.usuario {
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

input.email {
    background-image: url('../img/mail-bronce.svg');
    background-repeat: no-repeat;
    background-position: 0 7px;
    padding-left: 2em;
}

button {
    border: none;
    background-color: #a97c50;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all ease-in-out 400ms;

}

button:hover {
    background-color: #643506;
    color: white;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label::before {
    content: url('../img/square.svg');
    position: relative;
    top: 5px;
    padding-right: 5px;
}

input[type="checkbox"]:checked+label::before {
    content: url('../img/check-square.svg');

}

/* FOOTER*/

footer {
    background-color: #424242;
}

footer p {
    color: rgba(255, 255, 255, 0.80);
}

footer img.rrss {
    height: 48px;

}

footer a {
    font-size: 0.8rem;
    color: #a97c50;
    transition: 400ms ease-in-out all;
}

footer a:hover {

    color: #814508;
}

footer.copyright {
    color: rgba(255, 255, 255, 0.80);
    font-size: 0.8rem;
    text-align: center;
}


/*card*/
/*tarjetas de ventas de casas*/

.filas {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-gap: 2rem;
    justify-content: center;
}

.card {
    width: 360px;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card img {
    height: 320px;
}

.card .footer-card {
    padding: 0.8rem;
    width: 100%;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;


}

.card .footer-card p {
    margin-bottom: 0.5rem;

}

.card .footer-card p:first-child {
    font-weight: bold;
}

.card .footer-card a {
    background-color: #a97c50;
    color: white;
    font-size: 0.8rem;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    align-self: center;
    transition: 400ms ease-in all;
}


.card .footer-card a:hover {
    background-color: #643506
}


/*FICHA DE PROPIEDAD*/

.propiedad {
    margin-top: 80px;
    background-image: url('../img/property5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.propiedad div:first-child {
    background-color: rgba(255, 255, 255, 0.9);
}

.propiedad div:first-child h1 {
    font-size: 1.4rem;
    color: #a97c50;


}

.propiedad div:first-child p img {
    width: 28px;
    height: 28px;
}